<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "background.jpg"%>');">
  <div class="container">
    <h1><strong>Saint-Gobain</strong> Facade calculator </strong>!</h1>
    <p>Dimension your Saint-Gobain Facade</p>
    <%= link_to "All projects", projects_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>



<div class="container padded">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
       <%= link_to "Design", projects_path(stage: "Design"), class: "card-stage" %>
    </div>
    <div class="col-xs-12 col-sm-4">
       <%= link_to "Construction", projects_path(stage: "Construction"), class: "card-stage" %>
    </div>
    <div class="col-xs-12 col-sm-4">
       <%= link_to "Finished", projects_path(stage: "Finished"), class: "card-stage" %>
    </div>
  </div>

</div>

