
<div class="container">

<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-3">
    <h1 class="text-center">All Projects</h1>
   </div>

</div>
<div class="container padded">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
       <%= link_to "Design", projects_path(stage: "design"), class: "card-stage design" %>
    </div>
    <div class="col-xs-12 col-sm-4">
       <%= link_to "Construction", projects_path(stage: "construction"), class: "card-stage construction" %>
    </div>
    <div class="col-xs-12 col-sm-4">
       <%= link_to "Finished", projects_path(stage: "finished"), class: "card-stage finished" %>
    </div>
  </div>

</div>


<ul>
  <% @projects.each do |project| %>


    <div class="card-product">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg">
    <div class="card-product-infos">
      <h2><%= project.name %></h2>
      <p><%= project.stage %></p>
      <p><%= project.description %></p>
    </div>

    <ul class="list-inline product-controls">
      <li>
        <%= link_to  project_path(project) do %>
        <i class="fa fa-eye"></i>
      <% end %>
      </li>

      <li>
        <%= link_to  edit_project_path(project) do %>
        <i class="fa fa-pen"></i>
      <% end %>
      </li>

      <li>
        <%= link_to  project_path(project), method: :delete do %>
        <i class="fa fa-trash"></i>
      <% end %>
      </li>

   </ul>

</div>


      <% end %>


</ul>

</div>






