<h1 class="text-center">Detail of the Project</h1>

<h2 class="text-center">
 <%= @project.name %>
</h2>

<h3 class="text-center">
  Stage: <%= @project.stage %>
</h3>

<p class="text-center">
  <%= link_to  "Edit", edit_project_path(@project), class:"btn btn-warning" %>
  <%= link_to  "Delete", project_path(@project), method: :delete, class:"btn btn-danger" %>
  <%= link_to "Return to the list", projects_path, class:"btn btn-primary" %>
</p>
